@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

* {
  font-family: 'Noto Sans TC', 'Noto Sans', sans-serif !important;
}

.ui-post-title > .nav-link,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif TC', 'Noto Serif', sans-serif !important;
}

.header-wrapper * {
  font-family: Roboto, sans-serif !important;
}