/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = lighten(#0a05ab, 20%)
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #070707
$arrowBgColor = #ccc
$headerBgColor = #c8e1ff
